*{
  box-sizing: border-box;
}

html, body { height: 100%; }
body{
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  
  #root{
    min-height: 100%;
    position: relative;
    padding-bottom: 305px;

    footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; 
    }
  }
}